<div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>
  <table class="size_chart_table table_in_inches size_chart_small_table active">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>To Fit Waist</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>28</strong></span></td>
        <td><span>26-31</span></td>
      </tr>
      <tr>
        <td><span><strong>30</strong></span></td>
        <td><span>26-33</span></td>
      </tr>
      <tr>
        <td><span><strong>32</strong></span></td>
        <td><span>30-36</span></td>
      </tr>
      <tr>
        <td><span><strong>34</strong></span></td>
        <td><span>31-37</span></td>
      </tr>
      <tr>
        <td><span><strong>36</strong></span></td>
        <td><span>35-43</span></td>
      </tr>
      <tr>
        <td><span><strong>38</strong></span></td>
        <td><span>37-45</span></td>
      </tr>
      <tr>
        <td><span><strong>40</strong></span></td>
        <td><span>39-47</span></td>
      </tr>
      <tr>
        <td><span><strong>42</strong></span></td>
        <td><span>41-49</span></td>
      </tr>
      <tr>
        <td><span><strong>44</strong></span></td>
        <td><span>43-51</span></td>
      </tr>
    </tbody>
  </table>
  <table class="size_chart_table table_in_cm size_chart_small_table">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>To Fit Waist</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>28</strong></span></td>
        <td><span>66-78.7</span></td>
      </tr>
      <tr>
        <td><span><strong>30</strong></span></td>
        <td><span>66-83.8</span></td>
      </tr>
      <tr>
        <td><span><strong>32</strong></span></td>
        <td><span>76.2-91.4</span></td>
      </tr>
      <tr>
        <td><span><strong>34</strong></span></td>
        <td><span>78.7-94</span></td>
      </tr>
      <tr>
        <td><span><strong>36</strong></span></td>
        <td><span>89-109.2</span></td>
      </tr>
      <tr>
        <td><span><strong>38</strong></span></td>
        <td><span>94-114.3</span></td>
      </tr>
      <tr>
        <td><span><strong>40</strong></span></td>
        <td><span>99.1-119.4</span></td>
      </tr>
      <tr>
        <td><span><strong>42</strong></span></td>
        <td><span>104.1-124.5</span></td>
      </tr>
      <tr>
        <td><span><strong>44</strong></span></td>
        <td><span>109.2-129.5</span></td>
      </tr>
    </tbody>
  </table>
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Bottom.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>