<div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>

  <table class="size_chart_table size_chart_small_table table_in_inches active">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>To Fit Foot Length (inches)</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>UK6 / EU40</strong></span></td>
        <td><span>9.8</span></td>
      </tr>
      <tr>
        <td><span><strong>UK7 / EU41</strong></span></td>
        <td><span>10.2</span></td>
      </tr> 
      <tr>
        <td><span><strong>UK8 / EU42</strong></span></td>
        <td><span>10.6</span></td>
      </tr>
      <tr>
        <td><span><strong>UK9 / EU43</strong></span></td>
        <td><span>11.0</span></td>
      </tr>
      <tr>
        <td><span><strong>UK10 / EU44</strong></span></td>
        <td><span>11.4</span></td>
      </tr>
      <tr>
        <td><span><strong>UK11 / EU45</strong></span></td>
        <td><span>11.8</span></td>
      </tr>
    </tbody> 
  </table>
  <table class="size_chart_table table_in_cm size_chart_small_table" style="">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span></td>
      <td><span><strong>To Fit Foot Length (cm)</strong></span></td>
    </tr>
    <tr>
      <td><span><strong>UK6 / EU40</strong></span></td>
      <td><span>24.9</span></td>
    </tr>
    <tr>
      <td><span><strong>UK7 / EU41</strong></span></td>
      <td><span>25.9</span></td>
    </tr> 
    <tr>
      <td><span><strong>UK8 / EU42</strong></span></td>
      <td><span>26.9</span></td>
    </tr>
    <tr>
      <td><span><strong>UK9 / EU43</strong></span></td>
      <td><span>27.9</span></td>
    </tr>
    <tr>
      <td><span><strong>UK10 / EU44</strong></span></td>
      <td><span>28.9</span></td>
    </tr>
    <tr>
      <td><span><strong>UK11 / EU45</strong></span></td>
      <td><span>29.9</span></td>
    </tr>
  </tbody>
</table>
  
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Footwear.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>
