{% if settings.goEnable %}
<div class="gokwik-checkout"{% if settings.hideFlow %} style="display:none !important;" {% endif %}>
  <button type='button' class="" onclick="onCheckoutClick(this)">
            <span class="btn-text" >
                <span>{{ settings.main-titile }}</span>
                <span>{{ settings.sub-titile }}</span>
            </span>
          <span class="pay-opt-icon">
             <img src="https://cdn.gokwik.co/v4/images/upi-icons.svg">
             <img src="https://cdn.gokwik.co/v4/images/right-arrow.svg">
         
 </span>
    <div style="display:none"><div class="cir-loader">Loading..</div></div>
  </button>
</div>
{% endif %}





