
<table class="size_chart_table table_in_inches active">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span> <span><strong>(Inches)</strong></span></td>
      <td><span><strong>Garment Length</strong></span></td>
      <td><span><strong>Garment Waist</strong></span></td>
      <td><span><strong>Garment Leg Opening</strong></span></td>
      <td><span><strong>Garment Thigh</strong></span></td>
      <td><span><strong>Garment Front Rise</strong></span></td>
      <td><span><strong>Garment Back Rise</strong></span></td>
      <td><span><strong>Garment Inseam Length</strong></span></td>
    </tr>
	<tr>
      <td><span><strong>30</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>33.5</span></td>
      <td><span>13.5</span></td>
      <td><span>12</span></td>
      <td><span>11</span></td>
      <td><span>15</span></td>
      <td><span>31-32</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>35.5</span></td>
      <td><span>14</span></td>
      <td><span>12.5</span></td>
      <td><span>11</span></td>
      <td><span>15</span></td>
      <td><span>31-32</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>37.5</span></td>
      <td><span>14</span></td>
      <td><span>13</span></td>
      <td><span>12</span></td>
      <td><span>15.5</span></td>
      <td><span>30-31</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>39.5</span></td>
      <td><span>14.5</span></td>
      <td><span>13.25</span></td>
      <td><span>12.5</span></td>
      <td><span>16</span></td>
      <td><span>29.5-30.5</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>41.5</span></td>
      <td><span>15</span></td>
      <td><span>13.5</span></td>
      <td><span>12.5</span></td>
      <td><span>16.75</span></td>
      <td><span>29.5-30.5</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>42-43</span></td>
      <td><span>43.5</span></td>
      <td><span>15.5</span></td>
      <td><span>14</span></td>
      <td><span>12.75</span></td>
      <td><span>17</span></td>
      <td><span>29.25-30.25</span></td>
    </tr>
  </tbody>
</table>
<table class="size_chart_table table_in_cm">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span> <span><strong>(Cm)</strong></span></td>
      <td><span><strong>Garment Length</strong></span></td>
      <td><span><strong>Garment Waist</strong></span></td>
      <td><span><strong>Garment Leg Opening</strong></span></td>
      <td><span><strong>Garment Thigh</strong></span></td>
      <td><span><strong>Garment Front Rise</strong></span></td>
      <td><span><strong>Garment Back Rise</strong></span></td>
      <td><span><strong>Garment Inseam Length</strong></span></td>
    </tr>
	<tr>
      <td><span><strong>30</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>85.09</span></td>
      <td><span>34.29</span></td>
      <td><span>30.48</span></td>
      <td><span>27.94</span></td>
      <td><span>38.1</span></td>
      <td><span>78.74-81.28</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>90.17</span></td>
      <td><span>35.56</span></td>
      <td><span>31.75</span></td>
      <td><span>27.94</span></td>
      <td><span>38.1</span></td>
      <td><span>78.74-81.28</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>95.25</span></td>
      <td><span>35.56</span></td>
      <td><span>33.02</span></td>
      <td><span>30.48</span></td>
      <td><span>39.37</span></td>
      <td><span>76.2-78.74</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>100.33</span></td>
      <td><span>36.83</span></td>
      <td><span>33.65</span></td>
      <td><span>31.75</span></td>
      <td><span>40.64</span></td>
      <td><span>74.93-77.47</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>105.41</span></td>
      <td><span>38.1</span></td>
      <td><span>34.29</span></td>
      <td><span>31.75</span></td>
      <td><span>42.54</span></td>
      <td><span>74.93-77.47</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>106.68-109.22</span></td>
      <td><span>110.49</span></td>
      <td><span>39.37</span></td>
      <td><span>35.56</span></td>
      <td><span>32.38</span></td>
      <td><span>43.18</span></td>
      <td><span>74.295-76.835</span></td>
    </tr>
  </tbody>
</table>