 <div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>
  <table class="size_chart_table table_in_inches active">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span> <span><strong>(In Inches)</strong></span></td>
        <td><span><strong>WAIST</strong></span></td>
        <td><span><strong>LENGTH</strong></span></td>
        <td><span><strong>SEAT</strong></span></td>
        <td><span><strong>THIGH</strong></span></td>
        <td><span><strong>RISE</strong></span></td>
        <td><span><strong>BTN LEG OPENING</strong></span></td>
      </tr>
  	<tr>
        <td><span><strong>26</strong></span></td>
        <td><span>28</span></td>
        <td><span>36</span></td>
        <td><span>33</span></td>
        <td><span>9.75</span></td>
        <td><span>24</span></td>
        <td><span>12.5</span></td>
      </tr>
      <tr>
        <td><span><strong>28</strong></span></td>
        <td><span>30</span></td>
        <td><span>36</span></td>
        <td><span>35</span></td>
        <td><span>10.25</span></td>
        <td><span>24.75</span></td>
        <td><span>13</span></td>
      </tr>
      <tr>
        <td><span><strong>30</strong></span></td>
        <td><span>32</span></td>
        <td><span>36</span></td>
        <td><span>37</span></td>
        <td><span>10.75</span></td>
        <td><span>25.5</span></td>
        <td><span>13.5</span></td>
      </tr>
      <tr>
        <td><span><strong>32</strong></span></td>
        <td><span>34</span></td>
        <td><span>36</span></td>
        <td><span>39</span></td>
        <td><span>11.25</span></td>
        <td><span>26.25</span></td>
        <td><span>14</span></td>
      </tr>
      <tr>
        <td><span><strong>34</strong></span></td>
        <td><span>36</span></td>
        <td><span>36</span></td>
        <td><span>41</span></td>
        <td><span>11.75</span></td>
        <td><span>27</span></td>
        <td><span>14.5</span></td>
      </tr>
      <tr>
        <td><span><strong>36</strong></span></td>
        <td><span>38</span></td>
        <td><span>36</span></td>
        <td><span>43</span></td>
        <td><span>12.25</span></td>
        <td><span>27.25</span></td>
        <td><span>15</span></td>
      </tr>
    </tbody>
  </table>
  <table class="size_chart_table table_in_cm">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span> <span><strong>(In Inches)</strong></span></td>
      <td><span><strong>WAIST</strong></span></td>
      <td><span><strong>LENGTH</strong></span></td>
      <td><span><strong>SEAT</strong></span></td>
      <td><span><strong>THIGH</strong></span></td>
      <td><span><strong>RISE</strong></span></td>
      <td><span><strong>BTN LEG OPENING</strong></span></td>
    </tr>
	<tr>
      <td><span><strong>66</strong></span></td>
      <td><span>71.1</span></td>
      <td><span>91.4</span></td>
      <td><span>83.8</span></td>
      <td><span>24.7</span></td>
      <td><span>61</span></td>
      <td><span>31.7</span></td>
    </tr>
    <tr>
      <td><span><strong>71.1</strong></span></td>
      <td><span>76.2</span></td>
      <td><span>91.4</span></td>
      <td><span>89</span></td>
      <td><span>26</span></td>
      <td><span>62.8</span></td>
      <td><span>33</span></td>
    </tr>
    <tr>
      <td><span><strong>76.2</strong></span></td>
      <td><span>81.2</span></td>
      <td><span>91.4</span></td>
      <td><span>94</span></td>
      <td><span>27.3</span></td>
      <td><span>64.7</span></td>
      <td><span>34.2</span></td>
    </tr>
    <tr>
      <td><span><strong>81.2</strong></span></td>
      <td><span>86.3</span></td>
      <td><span>91.4</span></td>
      <td><span>99</span></td>
      <td><span>28.5</span></td>
      <td><span>66.6</span></td>
      <td><span>35.5</span></td>
    </tr>
    <tr>
      <td><span><strong>86.3</strong></span></td>
      <td><span>91.4</span></td>
      <td><span>91.4</span></td>
      <td><span>104.1</span></td>
      <td><span>29.8</span></td>
      <td><span>68.5</span></td>
      <td><span>36.8</span></td>
    </tr>
    <tr>
      <td><span><strong>91.4</strong></span></td>
      <td><span>96.5</span></td>
      <td><span>91.4</span></td>
      <td><span>109.2</span></td>
      <td><span>31.1</span></td>
      <td><span>70.4</span></td>
      <td><span>38.1</span></td>
    </tr>
  </tbody>
</table>
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Trouser.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>
