<section class="Product">
  <header class="SectionHeader SectionHeader--center">
    <div class="Container">
      <h3 class="SectionHeader__Heading Heading u-h3">Reviews</h3>
    </div>
  </header>
  <div class="container">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</section>