<div id="popup-view">
	<div class="quick_product_view"> 
    	<span class="close-popup"></span>
      
      <div id='quick_loader' style='display: none; text-align: center;' class="reload">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src='{{'reload.gif' | asset_url}}' class="reload_img lazy2">
      </div>
        <div class="grid" id="quick_view_Modal_id">
        </div>
    </div>
</div>