<table class="size_chart_table table_in_inches active">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span></td>
      <td><span><strong>Waist</strong></span></td>
      <td><span><strong>Length</strong></span></td>
      <td><span><strong>Leg-opening</strong></span></td>
      <td><span><strong>Inseam</strong></span></td>
    </tr>
    <tr>
      <td><span><strong>28</strong></span></td>
      <td><span>26-31</span></td>
      <td><span>17.5</span></td>
      <td><span>21</span></td>
      <td><span>6.5</span></td>
    </tr>
    <tr>
      <td><span><strong>30</strong></span></td>
      <td><span>26-33</span></td>
      <td><span>17.5</span></td>
      <td><span>21</span></td>
      <td><span>6.75</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>30-36</span></td>
      <td><span>17.5</span></td>
      <td><span>22</span></td>
      <td><span>6.75</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>31-37</span></td>
      <td><span>18.5</span></td>
      <td><span>24</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>35-43</span></td>
      <td><span>19</span></td>
      <td><span>25</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>37-45</span></td>
      <td><span>19.5</span></td>
      <td><span>26</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>39-47</span></td>
      <td><span>19.5</span></td>
      <td><span>27</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>42</strong></span></td>
      <td><span>41-49</span></td>
      <td><span>19.75</span></td>
      <td><span>28</span></td>
      <td><span>7.5</span></td>
    </tr>
    <tr>
      <td><span><strong>44</strong></span></td>
      <td><span>43-51</span></td>
      <td><span>19.75</span></td>
      <td><span>28</span></td>
      <td><span>7.75</span></td>
    </tr>
  </tbody>
</table>
<table class="size_chart_table table_in_cm">
  <tbody>
    <tr>
      <td><span><strong>Size</strong></span></td>
      <td><span><strong>Waist</strong></span></td>
      <td><span><strong>Length (CM)</strong></span></td>
      <td><span><strong>Leg-opening (CM)</strong></span></td>
      <td><span><strong>Inseam (CM)</strong></span></td>
    </tr>
    <tr>
      <td><span><strong>28</strong></span></td>
      <td><span>66-78.7</span></td>
      <td><span>44.45</span></td>
      <td><span>53.34</span></td>
      <td><span>16.51</span></td>
    </tr>
    <tr>
      <td><span><strong>30</strong></span></td>
      <td><span>66-83.8</span></td>
      <td><span>44.45</span></td>
      <td><span>53.34</span></td>
      <td><span>17.15</span></td>
    </tr>
    <tr>
      <td><span><strong>32</strong></span></td>
      <td><span>76.2-91.4</span></td>
      <td><span>44.45</span></td>
      <td><span>55.88</span></td>
      <td><span>17.15</span></td>
    </tr>
    <tr>
      <td><span><strong>34</strong></span></td>
      <td><span>78.7-94</span></td>
      <td><span>47</span></td>
      <td><span>61</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>36</strong></span></td>
      <td><span>88.9-109.2</span></td>
      <td><span>48.3</span></td>
      <td><span>63.5</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>38</strong></span></td>
      <td><span>94-114.3</span></td>
      <td><span>49.5</span></td>
      <td><span>66</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>40</strong></span></td>
      <td><span>99-119.3</span></td>
      <td><span>49.5</span></td>
      <td><span>68.6</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>42</strong></span></td>
      <td><span>104.1-124.4</span></td>
      <td><span>50.2</span></td>
      <td><span>71.1</span></td>
      <td><span>19.1</span></td>
    </tr>
    <tr>
      <td><span><strong>44</strong></span></td>
      <td><span>109.2-129.5</span></td>
      <td><span>50.2</span></td>
      <td><span>71.1</span></td>
      <td><span>19.7</span></td>
    </tr>
  </tbody>
</table>