<div class="size-chart-with-img aa">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>

  <div class="size_chart_table table_in_inches active">
     <table class="size_chart_other" style="margin-bottom: 15px">
       <tbody>
        <tr>
           <td><span><strong>Size</strong></span></td>
           <td><span><strong>To Fit Chest(Body Measurement)</strong></span></td>
           <td><span><strong>To Fit Neck(Body Measurement)</strong></span></td>
           <td><span><strong>Garment Chest</strong></span></td>
           <td><span><strong>Garment Across Shoulder</strong></span></td>
           <td><span><strong>Garment Sleeve Length</strong></span></td>
           <td><span><strong>Garment Sleeve Length + Half of Garment Across Shoulder</strong></span></td>
         </tr>
         <tr>
          <td><span><strong>36/XS</strong></span></td>
           <td><span>36</span></td>
           <td><span>14.5</span></td>
           <td><span>38</span></td>
           <td><span>18</span></td>
           <td><span>24</span></td>
           <td><span>33</span></td>
         </tr>
         <tr>
           <td><span><strong>38/S</strong></span></td>
           <td><span>38</span></td>
           <td><span>14.5</span></td>
           <td><span>40</span></td>
           <td><span>18</span></td>
           <td><span>24.5</span></td>
           <td><span>33.5</span></td>
         </tr>
         <tr>
           <td><span><strong>40/M</strong></span></td>
           <td><span>40</span></td>
           <td><span>15</span></td>
           <td><span>42</span></td>
           <td><span>18.5</span></td>
           <td><span>25.5</span></td>
           <td><span>34.8</span></td>
         </tr>
         <tr>
          <td><span><strong>42/L</strong></span></td>
           <td><span>42</span></td>
           <td><span>16</span></td>
           <td><span>44</span></td>
           <td><span>19</span></td>
           <td><span>25.5</span></td>
           <td><span>35</span></td>
         </tr>
         <tr>
           <td><span><strong>44/L</strong></span></td>
           <td><span>44</span></td>
           <td><span>16.5</span></td>
           <td><span>46</span></td>
           <td><span>19.5</span></td>
           <td><span>25.5</span></td>
           <td><span>35.3</span></td>
         </tr>
         <tr>
           <td><span><strong>46/XL</strong></span></td>
           <td><span>46</span></td>
           <td><span>17</span></td>
           <td><span>48</span></td>
           <td><span>20</span></td>
           <td><span>26</span></td>
           <td><span>36</span></td>
         </tr>
         <tr>
           <td><span><strong>48/XXL</strong></span></td>
           <td><span>48</span></td>
           <td><span>17.5</span></td>
           <td><span>50</span></td>
           <td><span>20.5</span></td>
           <td><span>26.5</span></td>
           <td><span>36.8</span></td>
         </tr>
         <tr>
           <td><span><strong>50/XXL</strong></span></td>
           <td><span>50</span></td>
           <td><span>18</span></td>
           <td><span>52</span></td>
           <td><span>21</span></td>
           <td><span>27</span></td>
           <td><span>37.5</span></td>
         </tr>
         <tr>
           <td><span><strong>52/3XL</strong></span></td>
           <td><span>52</span></td>
           <td><span>18.5</span></td>
           <td><span>54</span></td>
           <td><span>21.5</span></td>
           <td><span>27</span></td>
           <td><span>37.8</span></td>
         </tr>
         <tr>
           <td><span><strong>54/3XL</strong></span></td>
           <td><span>54</span></td>
           <td><span>19</span></td>
           <td><span>56</span></td>
           <td><span>22</span></td>
           <td><span>27</span></td>
           <td><span>38</span></td>
         </tr>
         <tr>
           <td><span><strong>56/4XL</strong></span></td>
           <td><span>56</span></td>
           <td><span>19.5</span></td>
           <td><span>58</span></td>
           <td><span>22.5</span></td>
           <td><span>27</span></td>
           <td><span>38.3</span></td>
         </tr>
         <tr>
           <td><span><strong>58/4XL</strong></span></td>
           <td><span>58</span></td>
           <td><span>20</span></td>
           <td><span>60</span></td>
           <td><span>23</span></td>
           <td><span>27</span></td>
           <td><span>38.5</span></td>
         </tr>
         <tr>
           <td><span><strong>60/5XL</strong></span></td>
           <td><span>60</span></td>
           <td><span>20.5</span></td>
           <td><span>62</span></td>
           <td><span>23</span></td>
           <td><span>27</span></td>
           <td><span>38.5</span></td>
         </tr>
       </tbody> 
     </table>
   </div>

  <div class="size_chart_table table_in_cm">
    <table class="size_chart_other" style="margin-bottom: 15px">
    <tbody>
         <tr>
           <td><span><strong>Size</strong></span></td>
           <td><span><strong>To Fit Chest(Body Measurement)</strong></span></td>
           <td><span><strong>To Fit Neck(Body Measurement)</strong></span></td>
           <td><span><strong>Garment Chest</strong></span></td>
           <td><span><strong>Garment Across Shoulder</strong></span></td>
           <td><span><strong>Garment Sleeve Length</strong></span></td>
           <td><span><strong>Garment Sleeve Length + Half of Garment Across Shoulder</strong></span></td>
         </tr>
         <tr>
        <td><span><strong>36/XS</strong></span></td>
           <td><span>91.44</span></td>
           <td><span>36.83</span></td>
           <td><span>96.52</span></td>
           <td><span>45.72</span></td>
           <td><span>60.96</span></td>
           <td><span>83.82</span></td>
         </tr>
         <tr>
           <td><span><strong>38/S</strong></span></td>
           <td><span>96.52</span></td>
           <td><span>36.83</span></td>
           <td><span>101.6</span></td>
           <td><span>45.72</span></td>
           <td><span>62.23</span></td>
           <td><span>85.09</span></td>
         </tr>
         <tr>
           <td><span><strong>40/M</strong></span></td>
           <td><span>101.6</span></td>
           <td><span>38.1</span></td>
           <td><span>106.68</span></td>
           <td><span>47</span></td>
           <td><span>64.77</span></td>
           <td><span>88.39</span></td>
         </tr>
         <tr>
           <td><span><strong>42/L</strong></span></td>
           <td><span>106.68</span></td>
           <td><span>40.64</span></td>
           <td><span>111.76</span></td>
           <td><span>48.26</span></td>
           <td><span>64.77</span></td>
           <td><span>88.9</span></td>
         </tr>
         <tr>
           <td><span><strong>44/L</strong></span></td>
           <td><span>111.76</span></td>
           <td><span>41.91</span></td>
           <td><span>116.84</span></td>
           <td><span>49.53</span></td>
           <td><span>64.77</span></td>
           <td><span>89.66 </span></td>
         </tr>
         <tr>
           <td><span><strong>46/XL</strong></span></td>
           <td><span>116.84</span></td>
           <td><span>43.18</span></td>
           <td><span>122</span></td>
           <td><span>50.8</span></td>
           <td><span>66.04</span></td>
           <td><span>91.44</span></td>
         </tr>
         <tr>
           <td><span><strong>48/XXL</strong></span></td>
           <td><span>121.92</span></td>
           <td><span>44.45</span></td>
           <td><span>127</span></td>
           <td><span>52</span></td>
           <td><span>67.31</span></td>
           <td><span>93.5</span></td>
         </tr>
         <tr>
           <td><span><strong>50/XXL</strong></span></td>
           <td><span>127</span></td>
           <td><span>45.72</span></td>
           <td><span>132</span></td>
           <td><span>53.34</span></td>
           <td><span>68.58</span></td>
           <td><span>95.25</span></td>
         </tr>
         <tr>
           <td><span><strong>52/3XL</strong></span></td>
           <td><span>132</span></td>
           <td><span>47</span></td>
           <td><span>137</span></td>
           <td><span>54.61</span></td>
           <td><span>68.58</span></td>
           <td><span>96</span></td>
         </tr>
      <tr>
           <td><span><strong>54/3XL</strong></span></td>
           <td><span>137.16</span></td>
           <td><span>48.26</span></td>
           <td><span>142.24</span></td>
           <td><span>55.88</span></td>
           <td><span>68.58</span></td>
           <td><span>96.5</span></td>
         </tr>
         <tr>
           <td><span><strong>56/4XL</strong></span></td>
           <td><span>142.24</span></td>
           <td><span>49.53</span></td>
           <td><span>147.32</span></td>
           <td><span>57.15</span></td>
           <td><span>68.58</span></td>
           <td><span>97.3</span></td>
         </tr>
         <tr>
           <td><span><strong>58/4XL</strong></span></td>
           <td><span>147.32</span></td>
           <td><span>50.8</span></td>
           <td><span>152.4</span></td>
           <td><span>58.42</span></td>
           <td><span>68.58</span></td>
           <td><span>97.8</span></td>
         </tr>
         <tr>
           <td><span><strong>60/5XL</strong></span></td>
           <td><span>152.4</span></td>
           <td><span>52</span></td>
           <td><span>157.5</span></td>
           <td><span>58.42</span></td>
           <td><span>68.58</span></td>
           <td><span>97.8</span></td>
         </tr>
    </tbody>
  </table>
</div>
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Top Garment.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>