 <div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>
  <table class="size_chart_table table_in_inches active">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>Garment Waist</strong></span></td>
        <td><span><strong>Garment Inseam</strong></span> <span><strong>Length</strong></span></td>
        <td><span><strong>Garment Outseam</strong></span> <span><strong>Length</strong></span></td>
        <td><span><strong>Garment Seat</strong></span></td>
        <td><span><strong>Garment Rise</strong></span></td>
        <td><span><strong>Garment Thigh</strong></span></td>
        <td><span><strong>Garment Knee</strong></span></td>
        <td><span><strong>Garment Leg Opening</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>28</strong></span></td>
        <td><span>32</span></td>
        <td><span>32</span></td>
        <td><span>42.5</span></td>
        <td><span>36</span></td>
        <td><span>22</span></td>
        <td><span>24.5</span></td>
        <td><span>17</span></td>
        <td><span>15</span></td>
      </tr>
      <tr>
        <td><span><strong>30</strong></span></td>
        <td><span>34</span></td>
        <td><span>32</span></td>
        <td><span>42</span></td>
        <td><span>38</span></td>
        <td><span>23</span></td>
        <td><span>25</span></td>
        <td><span>17</span></td>
        <td><span>15</span></td>
      </tr>
      <tr>
        <td><span><strong>32</strong></span></td>
        <td><span>36</span></td>
        <td><span>32</span></td>
        <td><span>43.25</span></td>
        <td><span>40</span></td>
        <td><span>24</span></td>
        <td><span>26</span></td>
        <td><span>18</span></td>
        <td><span>15</span></td>
      </tr>
      <tr>
        <td><span><strong>34</strong></span></td>
        <td><span>38</span></td>
        <td><span>32</span></td>
        <td><span>43.5</span></td>
        <td><span>42</span></td>
        <td><span>27</span></td>
        <td><span>27</span></td>
        <td><span>19</span></td>
        <td><span>15.5</span></td>
      </tr>
      <tr>
        <td><span><strong>36</strong></span></td>
        <td><span>40</span></td>
        <td><span>32</span></td>
        <td><span>43.5</span></td>
        <td><span>44</span></td>
        <td><span>27</span></td>
        <td><span>28</span></td>
        <td><span>19.5</span></td>
        <td><span>16</span></td>
      </tr>
      <tr>
        <td><span><strong>38</strong></span></td>
        <td><span>42</span></td>
        <td><span>32</span></td>
        <td><span>44</span></td>
        <td><span>46</span></td>
        <td><span>29</span></td>
        <td><span>29</span></td>
        <td><span>20.5</span></td>
        <td><span>16</span></td>
      </tr>
      <tr>
        <td><span><strong>40</strong></span></td>
        <td><span>44</span></td>
        <td><span>32</span></td>
        <td><span>44.5</span></td>
        <td><span>48</span></td>
        <td><span>29</span></td>
        <td><span>30.5</span></td>
        <td><span>22</span></td>
        <td><span>16.5</span></td>
      </tr>
      <tr>
        <td><span><strong>42</strong></span></td>
        <td><span>46</span></td>
        <td><span>32</span></td>
        <td><span>44.5</span></td>
        <td><span>50</span></td>
        <td><span>30</span></td>
        <td><span>31.5</span></td>
        <td><span>22.5</span></td>
        <td><span>17.5</span></td>
      </tr>
      <tr>
        <td><span><strong>44</strong></span></td>
        <td><span>48</span></td>
        <td><span>32</span></td>
        <td><span>44.5</span></td>
        <td><span>52</span></td>
        <td><span>30</span></td>
        <td><span>32</span></td>
        <td><span>22.5</span></td>
        <td><span>17.5</span></td>
      </tr>
    </tbody>
  </table>
  <table class="size_chart_table table_in_cm">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>Garment Waist</strong></span></td>
        <td><span><strong>Garment Inseam</strong></span> <span><strong>Length</strong></span></td>
        <td><span><strong>Garment Outseam</strong></span> <span><strong>Length</strong></span></td>
        <td><span><strong>Garment Seat</strong></span></td>
        <td><span><strong>Garment Rise</strong></span></td>
        <td><span><strong>Garment Thigh</strong></span></td>
        <td><span><strong>Garment Knee</strong></span></td>
        <td><span><strong>Garment Leg Opening</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>28</strong></span></td>
        <td><span>81.3</span></td>
        <td><span>81.28</span></td>
        <td><span>107.95</span></td>
        <td><span>91.44</span></td>
        <td><span>55.9</span></td>
        <td><span>62.2</span></td>
        <td><span>43.2</span></td>
        <td><span>38.1</span></td>
      </tr>
      <tr>
        <td><span><strong>30</strong></span></td>
        <td><span>86.36</span></td>
        <td><span>81.28</span></td>
        <td><span>106.68</span></td>
        <td><span>96.52</span></td>
        <td><span>58.4</span></td>
        <td><span>63.5</span></td>
        <td><span>43.2</span></td>
        <td><span>38.1</span></td>
      </tr>
      <tr>
        <td><span><strong>32</strong></span></td>
        <td><span>91.44</span></td>
        <td><span>81.28</span></td>
        <td><span>109.85</span></td>
        <td><span>102</span></td>
        <td><span>61</span></td>
        <td><span>66</span></td>
        <td><span>45.7</span></td>
        <td><span>38.1</span></td>
      </tr>
      <tr>
        <td><span><strong>34</strong></span></td>
        <td><span>96.52</span></td>
        <td><span>81.28</span></td>
        <td><span>110.49</span></td>
        <td><span>107</span></td>
        <td><span>68.6</span></td>
        <td><span>68.6</span></td>
        <td><span>48.3</span></td>
        <td><span>39.37</span></td>
      </tr>
      <tr>
        <td><span><strong>36</strong></span></td>
        <td><span>102</span></td>
        <td><span>81.28</span></td>
        <td><span>110.49</span></td>
        <td><span>112</span></td>
        <td><span>68.6</span></td>
        <td><span>71.1</span></td>
        <td><span>49.5</span></td>
        <td><span>40.64</span></td>
      </tr>
      <tr>
        <td><span><strong>38</strong></span></td>
        <td><span>107</span></td>
        <td><span>81.28</span></td>
        <td><span>111.76</span></td>
        <td><span>117</span></td>
        <td><span>73.7</span></td>
        <td><span>73.7</span></td>
        <td><span>52.1</span></td>
        <td><span>40.64</span></td>
      </tr>
      <tr>
        <td><span><strong>40</strong></span></td>
        <td><span>112</span></td>
        <td><span>81.28</span></td>
        <td><span>113.03</span></td>
        <td><span>122</span></td>
        <td><span>73.7</span></td>
        <td><span>77.47</span></td>
        <td><span>55.9</span></td>
        <td><span>41.9</span></td>
      </tr>
      <tr>
        <td><span><strong>42</strong></span></td>
        <td><span>117</span></td>
        <td><span>81.28</span></td>
        <td><span>113.03</span></td>
        <td><span>127</span></td>
        <td><span>76.2</span></td>
        <td><span>80</span></td>
        <td><span>57.15</span></td>
        <td><span>44.5</span></td>
      </tr>
      <tr>
        <td><span><strong>44</strong></span></td>
        <td><span>122</span></td>
        <td><span>81.28</span></td>
        <td><span>113.03</span></td>
        <td><span>132</span></td>
        <td><span>76.2</span></td>
        <td><span>81.3</span></td>
        <td><span>57.15</span></td>
        <td><span>44.5</span></td>
      </tr>
    </tbody>
  </table>
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Trouser.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>