 <div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>
   <table class="size_chart_table table_in_inches active">
     <tbody>
       <tr>
         <td><span><strong>Size</strong></span> <span><strong>(Inches)</strong></span></td>
         <td><span><strong>Chest</strong></span></td>
         <td><span><strong>Waist </strong></span></td>
         <td><strong>Length</strong></td>
       </tr>
       <tr>
         <td><span><strong>S</strong></span></td>
         <td><span>40</span></td>
         <td><span>39.5</span></td>
         <td><span>27</span></td>
       </tr>
       <tr>
         <td><span><strong>M</strong></span></td>
         <td><span>42</span></td>
         <td><span>41.5</span></td>
         <td><span>28</span></td>
       </tr>
       <tr>
         <td><span><strong>L</strong></span></td>
         <td><span>44</span></td>
         <td><span>43.75</span></td>
         <td><span>29</span></td>
       </tr>
       <tr>
         <td><span><strong>XL</strong></span></td>
         <td><span>46</span></td>
         <td><span>46</span></td>
         <td><span>29.5</span></td>
       </tr>
       <tr>
         <td><span><strong>XXL</strong></span></td>
         <td><span>48</span></td>
         <td><span>48</span></td>
         <td><span>30</span></td>
       </tr>
     </tbody>
   </table>
   <table class="size_chart_table table_in_cm">
     <tbody>
       <tr>
         <td><span><strong>Size</strong></span> <span><strong>(Cm)</strong></span></td>
         <td><span><strong>Chest</strong></span></td>
         <td><span><strong>Waist </strong></span></td>
         <td><strong>Length</strong></td>
       </tr>
       <tr>
         <td><span><strong>S</strong></span></td>
         <td><span>101.6</span></td>
         <td><span>100.3</span></td>
         <td><span>68.58</span></td>
       </tr>
       <tr>
         <td><span><strong>M</strong></span></td>
         <td><span>106.6</span></td>
         <td><span>105.4</span></td>
         <td><span>71.12</span></td>
       </tr>
       <tr>
         <td><span><strong>L</strong></span></td>
         <td><span>111.7</span></td>
         <td><span>110.1</span></td>
         <td><span>73.6</span></td>
       </tr>
       <tr>
         <td><span><strong>XL</strong></span></td>
         <td><span>116.8</span></td>
         <td><span>116.8</span></td>
         <td><span>74.9</span></td>
       </tr>
       <tr>
         <td><span><strong>XXL</strong></span></td>
         <td><span>121.9</span></td>
         <td><span>121.9</span></td>
         <td><span>76.2</span></td>
       </tr>
     </tbody>
   </table>
   <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'Tshirt.jpg' | asset_img_url: '350x410' }}">
   <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>