<div id="shopify-section-1564625563221" class="shopify-section">
  <section class="Section section-image-with-text-block" id="section-1564625563221" data-section-id="1564625563221" data-section-type="image-with-text-block">
    <div class="Container">
      <div class="service__inner"><div class="service__block">
          <div class="service--containt">
            <div class="service__image--wrap"><img class="service--image" src="https://cdn.shopify.com/s/files/1/0094/6326/7379/files/11.png?v=1685011265" data-src="//cdn.shopify.com/s/files/1/0094/6326/7379/files/cash-on-delivery_x80.png?v=1613543047" alt=""></div>
            <div class="service--content">
              <p>We launch 200+ new designs every week</p><p></p>
            </div>
          </div>
        </div><div class="service__block">
          <div class="service--containt">
            <div class="service__image--wrap"><img class="service--image" src="//cdn.shopify.com/s/files/1/0094/6326/7379/files/return-icon_x80.png?v=1613543048" data-src="//cdn.shopify.com/s/files/1/0094/6326/7379/files/return-icon_x80.png?v=1613543048" alt=""></div>
            <div class="service--content">
              <p>Easy Return,<br>Exchange and Refund</p><a href="pages/returns-exchanges"><b>Read Policy</b></a>
            </div>
          </div>
        </div><div class="service__block">
          <div class="service--containt">
            <div class="service__image--wrap"><img class="service--image" src="//cdn.shopify.com/s/files/1/0094/6326/7379/files/call-support-icon_x80.png?v=1613543048" data-src="//cdn.shopify.com/s/files/1/0094/6326/7379/files/call-support-icon_x80.png?v=1613543048" alt=""></div>
            <div class="service--content">
              <p>On call support <br>Monday to Saturday 9:30 AM to 06:00 PM</p><a href="tel:9723325522"><b>tel: 9723325522</b></a>
            </div>
          </div>
        </div></div>
    </div>
  </section>
</div>  
<div class="Container">
    <header class="SectionHeader SectionHeader--center">
      <h2 class="SectionHeader__Heading Heading u-h1">The Brand Which Touched Shark's Heart 🤍</h2>
    </header>
    <div class="Rte" style="text-align: center">
      <div class="shark-video" style="position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;">
          <div class="VideoWrapper"><iframe src="https://www.youtube.com/embed/UJXQo7sl1k4" title="Attention all fashion-savvy men!" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" style="position: absolute;top: 0;left: 0;width: 100%;height: 95%;" frameborder="0"></iframe></div>
      </div>
    </div>
  </div>
