<div class="size-chart-with-img">  
  <div class="size-chart-mbl-arrow-1">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>
  </div>
  <table class="size_chart_table table_in_inches size_chart_small_table active">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>To Fit Bust(Body Measurement)</strong></span></td>
        <td><span><strong>To Fit Waist(Body Measurement)</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>XS / 32</strong></span></td>
        <td><span>32</span></td>
        <td><span>26</span></td>
      </tr>
      <tr>
        <td><span><strong>S / 34</strong></span></td>
        <td><span>34</span></td>
        <td><span>28</span></td>
      </tr>
      <tr>
        <td><span><strong>M / 36</strong></span></td>
        <td><span>36</span></td>
        <td><span>30</span></td>
      </tr>
      <tr>
        <td><span><strong>L / 38</strong></span></td>
        <td><span>38</span></td>
        <td><span>32</span></td>
      </tr>
      <tr>
        <td><span><strong>XL / 40</strong></span></td>
        <td><span>40</span></td>
        <td><span>34</span></td>
      </tr>
      <tr>
        <td><span><strong>XXL / 42</strong></span></td>
        <td><span>42</span></td>
        <td><span>36</span></td>
      </tr>
    </tbody>
  </table>
  <table class="size_chart_table table_in_cm size_chart_small_table">
    <tbody>
      <tr>
        <td><span><strong>Size</strong></span></td>
        <td><span><strong>To Fit Bust(Body Measurement)</strong></span></td>
        <td><span><strong>To Fit Waist(Body Measurement)</strong></span></td>
      </tr>
      <tr>
        <td><span><strong>XS / 32</strong></span></td>
        <td><span>81.28</span></td>
        <td><span>66.04</span></td>
      </tr>
      <tr>
        <td><span><strong>S / 34</strong></span></td>
        <td><span>86.36</span></td>
        <td><span>71.12</span></td>
      </tr>
      <tr>
        <td><span><strong>M / 36</strong></span></td>
        <td><span>91.44</span></td>
        <td><span>76.2</span></td>
      </tr>
      <tr>
        <td><span><strong>L / 38</strong></span></td>
        <td><span>96.52</span></td>
        <td><span>81.28</span></td>
      </tr>
      <tr>
        <td><span><strong>XL / 40</strong></span></td>
        <td><span>101.6</span></td>
        <td><span>86.36</span></td>
      </tr>
      <tr>
        <td><span><strong>XXL / 42</strong></span></td>
        <td><span>106.68</span></td>
        <td><span>91.44</span></td>
      </tr>
    </tbody>
  </table>
  <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'woman_top.jpg' | asset_img_url: '350x410' }}">
  <div class="size-chart-mbl-arrow-2">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
  </div>
</div>