<div class="modal modal-size show">
  <div class="modal-inner">
    <div class="modal-close">
     
    </div>
    <div class="modal-buttons">
      <a class="Button-primary modal-button button-in active" href="#"> inches</a>
      <a class="Button-primary modal-button button-cm" href="#">cm</a>
      <a class="close"> X </a>
    </div>
  </div>
</div>